<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dk9a86uhu/image/upload/v1636642178/krvbal8e1sawpf11noa11xnvazc0.jpg);">
  <div class="container">
    <h1>Create Your Movies Watch Lists !</h1>
    <h3 class="typed-js"></h3>
    <a href="/lists/new" alt="link to new list">
      <button type="button" class="btn btn-success" style="color: white">New List</button>
    </a>
  </div>
</div>

<div class="container-fluid index-box">
  <ul>
    <% @lists.each do |list| %>
    <div class="list-card">
      <li>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">
            <div>
              <% if list.movies == [] %>
              <img src="https://res.cloudinary.com/dk9a86uhu/image/upload/v1636642178/krvbal8e1sawpf11noa11xnvazc0.jpg" style="width: 200px" alt="">
              <% else %>
              <img src="<%= list.movies.first.poster_url %>" style="width: 200px" alt="">
              <% end %>
            </div>
            <div>
              <h3><%= list.name %></h3>
              <p>Number of movies: <%= list.movies.count %></p>
            </div>
          </div>
          <div>
            <div class="d-flex align-items-end flex-column button-margins">
              <div>
                <%= link_to 'View', list_path(list), class: "btn btn-success button-width button-margin-bottom" %>
              </div>
              <div>
                <%= link_to 'Delete', list_path(list), method: :delete, class: "btn btn-danger button-width" %>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
    <% end %>
  </ul>
</div>
