<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.url %>);">
  <div class="container">
    <h1><%= @list.name%></h1>
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-between" style="margin: 24px 0;">
    <div>
      <% if current_user == @list.user || @list.user.admin? %>
        <%= link_to 'Delete', list_path(@list), method: :delete, class: "btn btn-danger button-width" %>
      <% end %>
    </div>
    <div>
      <%= link_to "Back", root_path, class: "btn btn-info" %>
    </div>
  </div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, as: :select2, input_html: { class: "drop-down"} %>
    <%= f.input :comment %>
    <%= f.submit "Add movie" %>
  <% end %>
  <% if !@list.movies.empty? %>
    <ul>
      <% @list.movies.each do |movie| %>
        <%= movie.title %>
        <%= image_tag movie.poster_url, style: 'width: 200px'%>
      <% end %>
    </ul>
  <% end %>
</div>
