<div class="container">
  <div class="d-flex justify-content-between" style="margin-top: 24px;">
    <h1>Add a new movie</h1>
    <div>
      <%= link_to "Back", movies_path, class: "btn btn-info" %>
    </div>
  </div>
  <%= simple_form_for @movie do |f| %>
    <%= f.input :title %>
    <%= f.input :overview %>
    <%= f.input :poster_url %>
    <%= f.input :rating %>
    <%= f.submit %>
  <% end %>
</div>